language: python
sudo: false
addons:
  apt:
    packages:
      - oracle-java8-installer
python:
  - "3.6"
  - "3.7-dev" # 3.7 development branch
  - "nightly" # currently points to 3.7-dev
jdk:
  - oraclejdk8  # needed for local Neo4j 2.0+
env:
  # test across multiple versions of Neo4j:
  - NEO4J_VERSION="3.2.1"
before_install:
  # install Neo4j locally:
  - wget dist.neo4j.org/neo4j-community-$NEO4J_VERSION-unix.tar.gz
  - tar -xzf neo4j-community-$NEO4J_VERSION-unix.tar.gz
  - neo4j-community-$NEO4J_VERSION/bin/neo4j console
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: 
  - python FlaskNeo4j/test.py